.navbar.navbar-expand.navbar-dark.bg-primary
  = link_to 'yorozuya', admin_root_path, class: 'navbar-brand font-weight-bolder py-1'
  .navbar-collapse
    .mr-auto
    - if logged_in?
      .d-none.d-sm-inline.text-white.mr-2
        %i.fa.fa-user.fa-fw.fa-lg
        %span= current_user.name
      = link_to admin_logout_path, method: :delete, class: 'btn btn-sm btn-light text-primary' do
        %i.fa.fa-sign-out-alt.fa-fw
        = t('.logout')
    - else
      = link_to admin_login_path, class: 'btn btn-sm btn-light text-primary' do
        %i.fa.fa-sign-in-alt.fa-fw
        = t('.login')
