= form_with model: [:admin, user], remote: true do |f|
  = render 'shared/errors', model: user
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :screen_name
    = f.text_field :screen_name, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  = f.button type: :submit, class: 'btn btn-primary mt-3' do
    %i.fa.fa-check.fa-fw
    - if user.new_record?
      = t('.btn.create')
    - else
      = t('.btn.update')
