- breadcrumb :admin_users
%h1.page-title= t('admin.page_title.index', model: User.model_name.human)
.btn-area
  = link_to new_admin_user_path, class: 'btn btn-primary' do
    %i.fa.fa-plus.fa-fw
    = t('admin.btn.new')
.table-responsive
  %table.table.table-bordered.table-middle
    %thead
      %tr
        %th ID
        %th= User.human_attribute_name :name
        %th= User.human_attribute_name :screen_name
        %th
    %tbody
      - @users.each do |user|
        %tr
          %th= user.id
          %td= user.name
          %td= user.screen_name
          %td.text-nowrap
            %ul.list-inline.mb-0
              %li.list-inline-item
                = link_to edit_admin_user_path(user), class: 'btn btn-sm btn-outline-primary mb-1 mb-sm-0' do
                  %i.fa.fa-edit.fa-fw
                  = t('admin.btn.edit')
              - if current_user != user
                %li.list-inline-item
                  = link_to admin_user_path(user), method: :delete, data: { confirm: t('admin.btn.destroy_confirm') }, class: 'btn btn-sm btn-outline-danger mb-sm-0' do
                    %i.fa.fa-ban.fa-fw
                    = t('admin.btn.destroy')
= render 'admin/shared/pagy'
