= form_with model: [:admin, creator], remote: true do |f|
  = render 'shared/errors', model: creator
  .form-group
    = f.label :name, class: 'label--required'
    = f.text_field :name, class: 'form-control', required: true
  .form-group
    = f.label :profile
    = f.text_area :profile, class: 'form-control js-dynamic-textarea', rows: 4
  .form-group
    %legend.text-md= Creator.human_attribute_name :icon
    .custom-file
      = f.file_field :icon, class: 'custom-file-input', lang: :ja
      = f.label :icon, class: 'custom-file-label custom-file-label-reverse' do
        %span
    - if creator.icon.attached?
      = image_tag creator.icon.variant(resize: Creator::ICON_SIZES[:default]), alt: t('admin.label.icon', name: creator.name), class: 'icon--default mt-2 mb-1'
      .custom-control.custom-checkbox
        = check_box_tag :icon_destroy, true, false, class: 'custom-control-input'
        = label_tag :icon_destroy, t('.icon_destroy'), class: 'custom-control-label'
  .form-group
    %legend.text-md= Creator.human_attribute_name :creator_sites
    .card.card-body
      %legend.mb-1
        .form-row.text-sm.d-none.d-sm-flex
          .col-3= CreatorSite.human_attribute_name :kind
          .col-4= CreatorSite.human_attribute_name :url
          .col-3= CreatorSite.human_attribute_name :name
          .col-2= CreatorSite.human_attribute_name :xorder
      = f.fields_for :creator_sites do |creator_site|
        = render 'creator_site_fields', f: creator_site
      .mt-1
        = link_to_add_association f, :creator_sites, class: 'btn btn-outline-primary' do
          %i.fa.fa-plus.fa-fw
          = t('.creator_sites.add')
  = f.button type: :submit, class: 'btn btn-primary' do
    %i.fa.fa-check.fa-fw
    - if creator.new_record?
      = t('admin.btn.create', model: Creator.model_name.human)
    - else
      = t('admin.btn.update', model: Creator.model_name.human)
