- breadcrumb :admin_creators
%h1.page-title= t('admin.page_title.index', model: Creator.model_name.human)
.btn-area
  = link_to new_admin_creator_path, class: 'btn btn-primary' do
    %i.fa.fa-plus.fa-fw
    = t('admin.btn.new')
.table-responsive
  %table.table.table-bordered.table-middle
    %thead
      %tr
        %th ID
        %th= Creator.human_attribute_name :icon
        %th= Creator.human_attribute_name :name
        %th= Creator.human_attribute_name :profile
        %th= Creator.human_attribute_name :creator_sites
        %th
    %tbody
      - @creators.each do |creator|
        %tr
          %th= creator.id
          %td
            = link_to admin_creator_path(creator) do
              - if creator.icon.attached?
                = image_tag creator.icon.variant(resize: Creator::ICON_SIZES[:thumb]), alt: t('admin.label.icon', name: creator.name), class: 'icon--thumb'
              - else
                %span.font-weight-bolder.text-sm NO IMAGE
          %td.font-weight-bold= creator.name
          %td= hbr creator.profile
          %td
            - if creator.creator_sites.present?
              %ul.mb-0
                - creator.creator_sites.each do |creator_site|
                  %li= link_to creator_site.name, creator_site.url, target: :_blank
          %td.table__td--with-buttons
            %ul.list-inline
              %li.list-inline-item
                = link_to edit_admin_creator_path(creator), class: 'btn btn-sm btn-outline-primary mb-1 mb-sm-0' do
                  %i.fa.fa-edit.fa-fw
                  = t('admin.btn.edit')
              %li.list-inline-item
                = link_to admin_creator_path(creator), method: :delete, data: { confirm: t('admin.btn.destroy_confirm') }, class: 'btn btn-sm btn-outline-danger mb-sm-0' do
                  %i.fa.fa-ban.fa-fw
                  = t('admin.btn.destroy')
= render 'admin/shared/pagy'
