!!! 5
%html{ lang: :ja }
  %head
    %title yorozuya Admin
    %meta{ name: :viewport, content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': :reload
    = stylesheet_pack_tag 'application', media: :all, 'data-turbolinks-track': :reload
  %body
    = render 'layouts/admin/header'
    %main.pt-4
      = render 'shared/notification', notice: notice, alert: alert
      .container= yield
