!!! 5
%html{ lang: :ja }
  %head
    %title yorozuya Admin
    %meta{ name: :viewport, content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': :reload
    = javascript_packs_with_chunks_tag 'admin', 'data-turbolinks-track': :reload
    = stylesheet_pack_tag 'admin', media: :all, 'data-turbolinks-track': :reload
  %body
    = render 'layouts/admin/header'
    .main-wrapper
      %nav= render 'layouts/admin/nav_menu'
      %main
        = render 'shared/notification', notice: notice, alert: alert
        .container-fluid= yield
